<h1>Post New Exercise</h1>

  <form action="http://somesite.com/prog/adduser" method="post">
    <P>
    <label for="title">Title: </label>
              <input type="text" id="title"><br>
    <label for="exercise">Exercise: </label>
              <textarea type="text" id="exercise"></textarea><br>
    <input type="submit" value="Send"> 
    </P>
 </form>